In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Fixtures_ENG_Premier_League_elo.csv')

In [4]:
data.head()

,fixture_id,fixture_referee,fixture_date,venue_id,venue_name,venue_city,status_long,status_short,status_elapsed,league_id,...,goals_home,goals_away,score_halftime_home,score_halftime_away,score_fulltime_home,score_fulltime_away,home_rank,home_elo,away_rank,away_elo
0,194200,NaN,2010-08-14,NaN,The DW Stadium (Wigan),NaN,Match Finished,FT,90,39,...,0,4,0,3,0,4,89,1598.599609,95,1551.880737
1,194204,NaN,2010-08-14,NaN,Stamford Bridge (London),NaN,Match Finished,FT,90,39,...,6,0,2,0,6,0,3,1950.531250,72,1631.752686
2,194201,NaN,2010-08-14,NaN,Reebok Stadium (Bolton),NaN,Match Finished,FT,90,39,...,0,0,0,0,0,0,74,1625.130249,35,1723.455566
3,194202,NaN,2010-08-14,NaN,Stadium of Light (Sunderland),NaN,Match Finished,FT,90,39,...,2,2,1,0,2,2,65,1645.028809,66,1644.802734
4,194199,NaN,2010-08-14,NaN,Ewood Park (Blackburn),NaN,Match Finished,FT,90,39,...,1,0,1,0,1,0,37,1698.738525,20,1780.931152